<div class="container mt-5">

    <div class="commits-title text-center">
        <h1 class="md:text-5xl text-3xl">Get all commits from the repository</h1>
        <p>Repository link: <a href="https://github.com/fedejuret/fulltimeforce-github-commits-test"
                class="text-sky-500" target="_blank"
                rel="noopener noreferrer">https://github.com/fedejuret/fulltimeforce-github-commits-test</a></p>
    </div>

    <div class="commits-box md:w-5/12 mb-5 w-96 mx-auto">

        {{#each commits}}

            <div class="container mt-5 shadow-lg bg-indigo-900 text-white p-3 rounded-md commit-box"
                onclick="redirect('{{ html_url }}')" title="Click to see this commit">

                <h2 class="text-center text-1xl">
                    {{commit.message}}
                </h2>
                <p class="text-white text-center text-sm font-extralight">
                    By {{commit.author.name}}
                </p>
                <hr class="m-3">
                <small>
                    Date: <span class="font-extralight">
                        {{commit.author.date}}
                    </span>
                </small> <br> 
                <small>
                    Sha: <span class="font-extralight">
                        {{sha}}
                    </span>
                </small>
            </div>

            {{/each}} 

    </div>

</div>